/* ================================= 
  Creative Credits Page
==================================== */
.row-1 {
  min-height: 70vh;
}

.credits,
.page-links {
  font-weight: 700;
}

.svg-container svg {
  width: 100%;
}

.bg-svg {
  top: -40%;  
}

.credits:nth-of-type(2n) {
  margin-top: 3rem;
}

.credits p {
  margin: 0.5rem 0;
}

