/* ================================= 
  Events Page
==================================== */
.two-moons {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

section {
  padding-top: 1.5rem;
}

.container > p:last-of-type {
  font-weight: 400;
}

.date {
  padding-top: 0.5rem;
  display: flex;
}

.date p {
  margin: 0.5rem 0;
  padding-left: 0.5rem;
  width: max-content;
}
  
.event-name p:last-child {
  width: 75%;
  line-height: 1.75rem;
}

/* ================================= 
  MEDIA QUERIES 768px 
==================================== */
@media (min-width: 768px) {
  .container > p:last-of-type {
    margin-bottom: 4rem;
  }
  
  .row {
    display: flex;
    padding: 2.5rem 0;
  }

  .date {
    margin-right: 3rem;
    padding-top: 0;
  }

  .event-name h3 {
    margin-top: 0;
  }
}