/* ================================= 
Home Page 
==================================== */
/* =========== Intro =========== */
h1 {
  font-size: 4.5rem;
}
  
.bg-footer {
  margin: auto 0 0;
}

/* ================================= 
  Guided By Our Values 
==================================== */
.row-1 h2 {
  margin-bottom: 1.75rem;
  font-size: 2.75rem;
}

.row-1 .details {
  font-weight: 600;
  margin-bottom: 2rem;
}
  
.moons {
  top: 0; 
  height: 50vh;
}

.row-1 .bt-point h4,
.word-wrap {
  margin-left: 1rem;
}

.row-1 .svg-container {
  display: flex;
  margin: 2rem 0;
}

.row-1 .svg-container svg:last-child {
  display: none;
}

.row-1 ul p {
  font-size: 1.25rem;
}
  
/* ================================= 
  Standing Strong
==================================== */
.row-2 {
  min-height: 100vh;
}

.row-2 h2 {
  font-size: 2.25rem;
  text-align: left;
}

.row-2 .bt-point .word-wrap {
  margin-right: 0;
}

.row-2 .bt-point .fira-sans {
  margin-left: auto;
}
  
.cm-arrw {
  display: none;
}

/* ================================= 
    Ancestral Territory
  ==================================== */
.row-3 h2 {
  margin: 0;
}

.row-3 .svg-container svg,
.arrows {
  margin-top: 2rem; 
}
  
.trigon {
  z-index: -1;
  top: -50%;
  left: 0; 
}

  /* ================================= 
    Sovereign Nation 
  ==================================== */
.row-4 .img-container img {
  width: unset;
}
  
.inner-container {
  bottom: 0; 
}

/* ================================= 
  Media Queries 768px
==================================== */