/* ================================= 
  Membership Page
==================================== */
.sand {
  height: 50vh;
}

.banner .container {
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-bottom: 1rem;
}

.faqs-item p {
  font-size: 1.25rem;
}

/* =========== Experience Support =========== */
.row-1 p {
  margin-bottom: 2rem;
}

.row-1 svg,
.row-2 svg  {
  display: none;
}

.row-1 .col-1 h2 {
  margin-top: 0;
}

/* .row-3 .bg-svg:first-of-type {
  bottom: 20%;
} */

.row-3 .bg-svg:nth-of-type(2) {
  top: 30%;
}

/* ================================= 
  MEDIA QUERIES 768px 
==================================== */
@media (min-width: 768px) {
  h1 {
    margin-bottom: 0.5rem;
  }

  .title p:last-of-type {
    width: 60%;
  }

  .sand {
    height: 40vh;
  }

  /* =========== Experience Support =========== */
  .row-1 {
    overflow: hidden;
  }

  .row-1 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60vh;
    position: relative;
    z-index: 1;
  }

  .row-1 .bg-container {
    position: relative;
  }

  .row-1 svg {
    display: block;
    position: absolute;
    right: 45%;
    bottom: -25%;
    width: 100%;
  }

  .row-1 .col-1 {
    width: 40%;
  }

  .row-1 .col-1 h2 {
    margin-bottom: 0;
  }

  .row-1 .col-1 p {
    font-weight: 300;
  }

  .row-1 .img-container {
    width: 55%
  }

  .row-1 .col-1,
  .row-1 .img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

/* =========== Download Membership Forms =========== */
  .row-2 ul {
    display: flex;
    gap: 1rem;
  }

  .row-2 svg {
    display: block;
    width: 25%;
    margin: 1.5rem 0;
  }

  .row-2 h2 {
    margin-bottom: 0;
  }
  
  .row-2 p {
    margin-top: 0;
  }
/* =========== Download Membership Forms =========== */
  .row-3 .bg-svg:first-of-type {
    transform: rotate(-60deg);
    width: 90%;
    top: -10%
  }

  .row-3 .bg-svg:nth-of-type(2) {
    display: none;
  }
}