/* ================================= 
BASE STYLES
==================================== */
/* Roboto Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Fira Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Amarante Font */
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

* {
  box-sizing: border-box;
}

body,
.toggle, 
.events-btn {
  background-color: #FFFBE4;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}
  
  /* ================================= 
    Common Styles
  ==================================== */
/* =========== Flexbox =========== */
.nav,
.carousel,
.breadcrumbs {
  display: flex;
}

/* =========== Text-alignment =========== */
footer ul li,
.copyright {
  text-align: center;
}

/* =========== Margins =========== */
.nav,
.main-nav, 
.container,
.line,
.svg-container svg,
.carousel img,
.years,
.breadcrumbs,
.address,
footer svg {
  margin: 0 auto;
}

.toggle,
.bt-point h4 {
  margin: auto 0;
}

.carousel .img-container {
  margin-top: 0;
}

.events-btn {
  margin-top: 1rem;
}

.events-btn,
.txt {
  margin-bottom: 3rem;
}

/* =========== Width =========== */
.nav,
.main-nav,
.nav,
.container,
.years,
.svg-container svg {
  width: 90%;
}

.bg-container,
img,
.title, 
.trigon {
  width: 100%; 
}

.breadcrumbs {
  width: 50%;
}

.line {
  border-left: 3px solid black;
  height: 9rem;
  width: 3px
}

.word-wrap {
  width: 85%;
  margin-top: 0.5rem;
}

/* =========== Background-Styles =========== */
/* .boat,
.intro-section .container {
  height: 70vh;
} */

.bg-container img {
  object-fit: cover;
}

.bg-blk {
  background-color: #2D302C;
}

.bg-red {
  background-color: #9E3333;
}

.bg-svg {
  position: absolute;
  width: 100%;
  z-index: -1;  
}

/* =========== Display  =========== */
svg,
img,
.footer a {
  display: block;
}

.events-btn,
/* .membership-btn, */
.btn-container a {
  display: inline-block;
}

/* =========== Font styles =========== */
.amarante {
  font-family: "Amarante";
}

.fira-sans {
  font-family: "Fira Sans";
}

.roboto {
  font-family: "Roboto";
}

.events .container > p:first-child {
  color: #000000;
}

.font-white {
  color: #fff;
}

.font-xsm {
  font-size: 1.25rem;
}

.font-sm {
  font-size: 1.5rem;
}

.font-md {
  font-size: 2rem;
}

.font-base {
  font-size: 2.5rem;
}

.font-lg {
  font-size: 3rem;
}

h2,
.not-found h1 {
  font-weight: 500;
}

/* =========== Position =========== */
.bg-container,
.date {
  position: relative;
} 

.title, 
.moons,
.wrapper,
.trigon, 
.inner-container {
  position: absolute;
} 

.title,
.wrapper {
  top: 0;
}

/* =========== Line-Height =========== */
.word-wrap,
.faqs-item p,
.not-found h1  {
  line-height: 1.75rem;
}

.banner .fira-sans,
.bg-footer p, 
.address {
  line-height: 2rem;
}

.events section, 
.faqs, 
.privacy {
  border-top: 1px solid #000000;
}

header, 
.faqs-item {
  border-bottom: 1px solid #000000;
}

/* =========== Underline ============= */
.address,
.credits p a,
.privacy-links a {
  text-decoration: underline;
} 

/* ================================= 
  Header
==================================== */
.main-header {
  padding-bottom: 0.5rem;
}

.main-nav li {
  margin: 1.75rem 0; 
  font-size: 1.25rem;
  font-family: 'Roboto';
  font-weight: 400;
}

nav {
  height: 0vh;
  overflow: hidden;
}

.toggle {
  border: none;
}

.toggle:hover,
.carousel svg:hover {
  cursor: pointer;
}

.nav {
  justify-content: space-between;
}

.main-nav,
.show-links {
  transition: height 0.9s ease-in;  
}

.show-links {
  height: 90vh;
}

/* ================================= 
Home Page-Standing Strong
==================================== */
.cm-arrw {
  display: none;
}

.row-1 .btn,
.events-btn,
/* .membership-btn, */
.programs .row-3 .btn {
  padding: 1rem 1.5rem;
  border: 1px solid #000000;
}

.events-btn
/* .membership-btn, */ {
  padding: 1rem 1.5rem;
}

/* ================================= 
  Ancestral Territory
==================================== */
.arrows {
  margin-top: 2rem; 
}

.trigon {
  z-index: -1;
  top: -50%;
  left: 0; 
}

/* ================================= 
  Sovereign Nation 
==================================== */
.nation-img {
  height: 100vh; 
}

/* =========== Photo Gallery =========== */
.carousel .img-container {
  margin-bottom: 2rem;
}

.carousel {
  justify-content: center;
}

.carousel svg {
  margin: auto;
}

/* ================================= 
  Footer
==================================== */
footer {
  padding: 3rem 0;
}

footer ul li {
  padding: 0.5rem 0; 
  margin-bottom: 1rem;
}

.privacy {
  padding: 1rem 0; 
}

.page-links {
  font-weight: 600;
}

/* ================================= 
  MEDIA QUERIES 768px 
==================================== */
@media (min-width: 768px) {
  header {
    margin: 0 auto;
    border-bottom: 1px solid #000000;
  }

  header > div {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

  .toggle {
    display: none;
  }

  ul {
    gap: 1rem;
  }

  .main-nav {
    height: auto;
    display: flex;
    width: max-content;
    margin-right: 0;
  }

  .main-nav li {
    font-size: 1.125rem;
}

  .main-header {
    border-bottom: none;
  }

  header,
  .main-nav ul, 
  .page-links,
  .privacy, 
  .privacy-links,
  .copyright {
    display: flex;
  }

  header {
    justify-content: space-between;
  }

  .main-nav li {
    margin: 1rem 0;
  }

  .page-links {
    justify-content: space-between;
    width: 60%;
    margin: 1.5rem auto 3rem;
  }

  .privacy { 
    flex-direction: row-reverse; 
    justify-content: space-between;
  }

  .privacy-links {
    margin: 0;
    display: inline-flex;
    align-items: center;
  }

  .privacy-links li {
    margin-bottom: 0;
  }

  .privacy-links,
  .copyright {
    gap: 1rem;
  }

  .copyright {
    align-items: center;
  }

  .copyright p {
    margin: 0;
  }
}

@media (min-width: 1024px) {
  header,
  footer .container {
    max-width: 1200px;
  }

  .page-links {
    width: max-content; 
    gap: 3.5rem;
  }  
}