{{define "main"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Normalize.css makes HTML look consistent in all browsers -->
        <link rel="stylesheet" href="static/stylesheets/normalize.css">
        <link rel="stylesheet" href="static/stylesheets/styles.css">
        {{template "css" .}}
        <!-- Add css file  -->
        <title>{{template "title" .}}</title>
    </head>
    
<body>
    <header>
        <div>
            <div class="main-header">
                <!-- Main Logo -->
                <div class="nav">
                    <a href="/">
                        <img src="static/images/header-logo.svg" alt="Snohomish Tribe logo">
                    </a>

                    <!-- Close logo -->
                    <button class="toggle">
                        <img src="/static/images/hamburger.svg" alt="menu icon">
                    </button>
                </div>
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/membership">Membership</a></li>
                    <li><a href="/programs">Programs</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {{template "content" .}}

    <footer>
        <div class="container">
            <!-- Logo -->
            <img src="static/images/footer-logo.svg" alt="Snohomish Tribe logo">

            <ul class="page-links font-xsm">
                <li><a href="/about">About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/membership">Membership</a></li>
                <li> <a href="/programs">Programs</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="privacy">
                <ul class="privacy-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Cookies Settings</a></li>
                    <li><a href="/credits">Credits</a></li>
                </ul>

                <div class="copyright">
                    <p>&copy; 2024 Snohomish Tribe of Indians</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>

    {{template "js" .}}
</body>

</html>
{{end}}